/* add home page styles here */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    font-family: 'Anton', sans-serif;
}

main {
    font-size: 2rem;
    height: 100%;
    display: grid;
    grid-template-rows: 15fr 1fr 10fr 7fr 7fr;
    /* grid-template-rows: 2fr 2fr 1fr 1fr; */
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border-radius: 10%;
    transition: all 0.1s ease-in-out;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    display: none;
}

input:checked + img {
    border: 10px solid white;
}

.hidden {
    visibility: hidden;
}

button {
    position: relative;
    top: -3em;
    background-color: rgb(255, 235, 43);
    border-radius: 12px;
    border: none;
    height: 2em;
    width: 14em;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.outcome-display {
    font-size: 8rem;
}

.options-display, .btn-display {
    background-color: black;
}

.total-display {
    background-color: black;
    color: rgb(255, 235, 43);
}

#sub-btn {
    left: 7em;
}

#reset-btn {
    right: 7em;
}

/* for phone */
@media only screen and (max-width: 600px) {

    main {
        display: grid;
        grid-template-rows: 12fr 1fr 7fr 7fr 7fr;
    }

    img {
        width: 2.5em;
        height: auto;
    }

    input:checked + img {
        border: 7px solid white;
    }

    button {
        position: relative;
        top: -1em;
        height: 1em;
        width: 6em;
        font-size: 1.1rem;
    }

    #sub-btn {
        left: 1em;
    }
    
    #reset-btn {
        right: 1em;
    }

    .outcome-display {
        font-size: 3rem;
    }

    .total-display {
        font-size: 1.4rem;
    }

} 

@media only screen and (max-width: 1040px) {

    main {
        display: grid;
        grid-template-rows: 12fr 1fr 9fr 7fr 7fr;
    }

    img {
        width: 6em;
        height: auto;
    }

    button {
        position: relative;
        top: -2em;
        height: 2em;
        width: 8em;
        font-size: 1.1rem;
    }

    #sub-btn {
        left: 3em;
    }
    
    #reset-btn {
        right: 3em;
    }

} 
